{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.15.4-web/css/all.css'%}">
    <link rel="stylesheet" href="{% static 'css/blogStyle.css'%}">
    <title>Blogs</title>
</head>
<body>
    <header id="header">
        <div id="header1">
            <div id="content-header1-left">
                <div >
                    <a href="#"  >
                        <img src="{% static 'images/rm37.png'%}" id="logo" alt="logo">
                    </a>
                </div>
                <div>
                    <a href="#" class="header__navbar-icon-Link">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>

            </div>
            <div id="content-header1-right">
                <div id="cnt-hd1-r-search">
                    <i class="fas fa-search"></i>
                </div>
                <div id="cnt-hd1-r-pen">
                    <i class="fas fa-pencil-alt"></i>
                </div>
                <button id="cnt-hd1-r-tk">Tài khoản<i class="fas fa-angle-down"></i></button>
            </div>
        </div>
        <div id="container-header2">
            <div id="content">
                <h1>Bài viết</h1>
                <p>Kho tài liệu và bài viết được chia sẻ, đánh giá bởi cộng đồng</p>
            </div>
            <button id="writeButton"> <i class="fas fa-plus-circle"></i> Viết bài</button>
        </div>
    </header>
    <div id="container">
        <div id="content-nav-container">
            <i class="fas fa-home"></i>
            <i class="fas fa-angle-right"></i>
            Bài viết
        </div>
        <div id="filter">
            <u>Bài viết</u>
            <div id="filter-right">
                 Sắp xếp
                <div class="dropdown">
                <select name="" class="dropdown-list">
                    <option  value="1">Mới nhất</option>
                    <option  value="2">Hoạt động</option>
                    <option value="3"> Lượt xem</option>
                </select>
            </div>
            </div>
        </div>
        <div id="posts">
            <div id="posts1">
                {% for x in '12345678912345678912345' %}

                <div class="contentBlock">
                    <div class="media">
                        <div id="media-avata">
                            <img src="{% static 'imgs/hacker.png'%}" alt="avataOfUser" width="45">
                        </div>
                        <div id="media-body">
                            <span>Thanh Ngan</span>
                            <p class="title">DEMO</p>
                            <p class="text-intro">
                               Bản demo code trang BÀI VIẾT
                            </p>
                            <div class="info">
                                <span class="info-detail">
                                    <i class="fas fa-caret-up"></i>0
                                </span>
                                <span class="info-detail">
                                    <i class="fas fa-caret-down"></i>0
                                </span>
                                <span class="info-detail">
                                    <i class="fas fa-comment"></i>0
                                </span>
                                <span class="info-detail">
                                    <i class="fas fa-eye"></i>0
                                </span>
                                <span class="info-detail"></span>

                                <img class="user" src="{% static 'imgs/user.png'%}">
                                <p>Time</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="paginaton">
                gello
            </div>
        </div>
    </div>
    <footer id="footer">
        FOOTER
    </footer>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>