{% load static %}
{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="{% static 'css/courses1.css'%}">
    <title>Courses1</title>
</head>
<body >
    <nav class="navbar navbar-expand-sm badge-blue navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Logo</a>
      
        <!-- Links -->
        <ul class="navbar-nav">
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              HTML and CSS
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Python
            </a>
            {% for i in allCourses %}
        
            <div class="dropdown-menu">
                
                <a class="dropdown-item" href="{% url 'gteam:coursesVideo' 'Python cơ bản' %}">Python cơ bản</a>
              <a class="dropdown-item" href="{% url 'gteam:coursesVideo' 'Python nâng cao' %}">Python nâng cao</a>
              <a class="dropdown-item" href="#">Bài tập luyện tập</a>
            </div>
            {% endfor %}
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              SQL
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>

            <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              C C++
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Java
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
        </ul>
      </nav>
      <div style="padding: 3rem;">
        <div style="display: flex;">
            <div>
                {% for item in a %}
                    {% if item.title == title %}
                        {% video item.linkVideo 'small' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div style="padding-left: 3rem;">
                <div>
                    <h1 style="color: brown;font-size: 1.2rem;">
                        {{title}}
                    </h1>
                </div>
            
                {% for item in a %}
                {% if item.title == title %}
                   <div>
                    {{item.author}}
                   </div>
                   <p>
                       {{item.MieuTa}}
                   </p>
                {% endif %}
                {% endfor %}
                
            </div>
        </div>
      </div>
      
      
      
    <footer id="footer">
        FOOTER
    </footer>
</body>
</html>