{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GTEAMS - Class Web App - contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.15.4-web/css/all.css'%}">

    <link rel="stylesheet" href="{% static 'css/contac.css'%}">
    <meta name='author' content="G-Team" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #121212;">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'imgs/logo.png'%}" alt="Logo page" width="100" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="background-color: #121212;">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'intro' %}">Giới thiệu<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses' %}">Khóa học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'practice' %}">Luyện tập</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs' %}">Bài viết</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Liên hệ</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" id="navbar-nav-right" style="background-color: #121212; float: right !important; ">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Xin chào {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'log' %}">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reg' %}">Đăng ký</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
    </header>

    <!-- <main class="container"> -->
    <div class="container my-3">
        <div class="row no-gutters  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h2 style="color: rgb(250, 14, 112); text-align: center; padding: 0 0 10px 0;">Viết bài</h2>
                <form action="" id="contactForm" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span><strong >Tiêu đề:</strong></span>
                        </div>
                        {{form.title}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span><strong >Tác giả:</strong></span>
                        </div>
                        {{form.author}}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span><strong >Nội dung:</strong></span>
                        </div>
                        {{form.content}}
                    </div>
                    <input type="submit" class="form-control" value="Gửi" style="background-color:rgba(57, 57, 57, 0.503); color: rgb(247, 60, 138); width: 30%; margin-left: 35%;">
                </form>
                {% if form.is_valid %}
                <script>
                    alert("Bạn đã gởi bài thành công và đang chờ xét duyệt.")
                </script>
                {% endif %} {% if form.errors %} {% for field in form %} {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %} {% endif %}
            </div>

        </div>
    </div>


    <footer>
        <div class="container" style="align-items: center;">

            <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

            <div class="row text-center">
                <div class="col-md-4 box">
                    <span class="copyright quick-links">GTEAMS &copy; Our Website <script>document.write(new Date().getFullYear())</script>
                  </span>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline quick-links">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>