{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTEAMS - Class Web App</title>

    <link rel="stylesheet" href="{% static 'css/HomePage.css'%}">
    <!-- tác giả nha -->
    <meta name='author' content="G-Team" />
    <!-- này search từ khóa tại gg thì dựa vào này -->
    <meta name='description' content="Tham gia các khóa học online" />
</head>

<body>
    <header id="header">
        <div id="divMainmenu">
            <div id="imgLogo">
                <img src="{% static 'imgs/back.png'%}" alt="Logo page" width="130" />
            </div>
            <div id="linkHeader">
                <a class="btn" href="#"> Giới thiệu </a>
                <a class="btn" href="#"> Khóa học </a>
                <a class="btn" href="#">Luyện tập</a>
                <a class="btn" href="#">Hỏi đáp</a>
                <a class="btn" href="#">Bài viết</a>
                <a class="btn" href="contact">Liên hệ</a>
            </div>
            <div id="sign">
                {% if user.is_authenticated %}
                     <a class="btn" href=""> Xin chào {{ user.username }} </a>
                    <a class="btn" href="../../../accounts/logout"> Đăng xuất </a>
                {% else %}
                    <a class="btn" href="../../../accounts/login"> Đăng nhập </a>
                    <a class="btn" href="../../../accounts/register"> Đăng ký </a>
                {% endif %}!
            </div>
        </div>
    </header>
    <div id="container">
        <content id="contentPage">
            <div class="DivContent">
                <div class="ContentLeft">
                    <h1 id="title"> Thư viện khóa học lập trình </h1>
                    <p>Django , html, css, jv,....</p>
                    <p>Luyện tập với các câu hỏi trắc nghiệm</p>
                    <p>Hỏi đáp với người dùng khác</p>
                    <button id="learnNow">Học ngay</button>
                </div>
                <div class="ContentRight">
                    <img src="{% static 'imgs/rm37.png' %}" alt="Something" width="100%" />
                </div>
            </div>
            <div id="example">
                examle
                <p>{{now}}</p>
            </div>
            <div id="features">
                Tính năng
            </div>
    </div>
    </content>

    </div>
    <footer id="footer">
        <div id="contact">
            <a href="#"><img src="{% static 'imgs/facebook.png'%}" alt="facebook-contact" width="40" /></a>
            <a href="#"><img src="{% static 'imgs/github.png'%}" alt="github-contact" width="40" /></a>
            <a href="#"><img src="{% static 'imgs/whatsapp.png'%}" alt="callUs" width="40" /></a>
            <a href="#"><img src="{% static 'imgs/google-plus.png'%}" alt="mailUs" width="40" /></a>
            <a href="#"><img src="{% static 'imgs/twitter.png'%}" alt="twiter" width="40" /></a>
        </div>
        <div class="footer2">
            <div class="panel-body">
                <p class="simplenav">
                    <a href="index.html">Trang chủ</a> |
                    <a href="about.html">Thông tin</a> |
                    <a href="courses.html">Khóa học</a> |
                    <a href="fees.html">Fees</a> |
                    <a href="contact.html">Liên hệ</a>
                </p>
            </div>
            <p class="text-right">
                G Team &copy; 2021. Made by <a href="#" rel="develop"> ....</a>
            </p>
        </div>
    </footer>
</body>

</html>