{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GTEAMS - Class Web App - contact</title>
    <link rel="stylesheet" href="{% static 'css/practice.css'%}">
    <meta name='author' content="G-Team" />
</head>

<body>
    <header id="header">
        <div id="header1">
            <div id="content-header1-left">
                <div>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'imgs/rm37.png'%}" id="logo" alt="logo">
                    </a>
                </div>
                <div>
                    <a href="#" class="header__navbar-icon-Link">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>

            </div>
            <div id="content-header1-right">
                <div id="cnt-hd1-r-search">
                    <i class="fas fa-search"></i>
                </div>
                <div id="cnt-hd1-r-pen">
                    <i class="fas fa-pencil-alt"></i>
                </div>
                <button id="cnt-hd1-r-tk">Tài khoản<i class="fas fa-angle-down"></i></button>
            </div>
        </div>
        <div id="container-header2">
            <h1> PRACTICE </h1>
        </div>
    </header>
    <main id="main-container">
        <div id="Subject">
            <h2>Luyện tập theo từng chủ đề </h2>
            <!-- Query database ở đây -->
        </div>
        <div class="block_query">
            <div id="questions">

                {% if question %}
                <ul id="questionUL" style='list-style-position: inside;'>
                    <span></span> {% for q in question %}
                    <li><a href="{% url 'practiceID' q.title %}">>{{q.title_Content}}</a></li>

                </ul>
                {% endfor %} {% endif %}
            </div>

        </div>
    </main>
</body>
<footer id="footer">
    <div id="contact">
        <a href="#"><img src="{% static 'imgs/facebook.png'%}" alt="facebook-contact" width="40" /></a>
        <a href="#"><img src="{% static 'imgs/github.png'%}" alt="github-contact" width="40" /></a>
        <a href="#"><img src="{% static 'imgs/whatsapp.png'%}" alt="callUs" width="40" /></a>
        <a href="#"><img src="{% static 'imgs/google-plus.png'%}" alt="mailUs" width="40" /></a>
        <a href="#"><img src="{% static 'imgs/twitter.png'%}" alt="twiter" width="40" /></a>
    </div>
    <div class="footer2">
        <div class="panel-body">
            <p class="simplenav">
                <a href="{% url 'home' %}">Trang chủ</a> |
                <a href="about.html">Thông tin</a> |
                <a href="courses.html">Khóa học</a> |
                <a href="fees.html">Fees</a> |
                <a href="{% url 'contact' %}">Liên hệ</a>
            </p>
        </div>
        <p class="text-right">
            G Team &copy; 2021. Made by <a href="#" rel="develop"> ....</a>
        </p>
    </div>
</footer>
</body>

</html>