{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GTEAMS - Class Web App - contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.15.4-web/css/all.css'%}">


    <link rel="stylesheet" href="{% static 'css/practic.css'%}">
    <meta name='author' content="G-Team" />
</head>

<body>
    <!-- header -->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #121212;">
            <a class="navbar-brand" href="#"><img src="{% static 'imgs/logo.png'%}" alt="Logo page" width="100" /></a>
            
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse" style="background-color: #121212;">
                    <ul class="navbar-nav" style="background-color: #121212;">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Xin chào {{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log' %}">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reg' %}">Đăng ký</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" >
        <h1 style="color: #FFD700; font-size: 20px;">Chủ đề: {{title}}</h1>
        {% if question %} {%for q in question%}
        <div class="block_query">
            <br id="questions"> {{q.question}}
            </br>
        </div>

        <div>
            <div class="radio">
                <input id="optionA" type="radio" name="optradio{{q.id}}" value="{{q.contentA}}"><label for="optionA">{{q.contentA}}</label>
            </div>
            <div class="radio">
                <input id="optionB" type="radio" name="optradio{{q.id}}" value="{{q.contentB}}"><label for="optionB">{{q.contentB}}</label>
            </div>
            <div class="radio">
                <input id="optionC" type="radio" name="optradio{{q.id}}" value="{{q.contentC}}"><label for="optionC">{{q.contentC}}</label>
            </div>
            <div class="radio" id="d">
                <input id="optionD" type="radio" name="optradio{{q.id}}" value="{{q.contentD}}"><label for="optionD">{{q.contentD}}</label>
            </div>
            <!-- <input type="button" id="{{q.id}}" value="Hiển thị kết quả" /> -->
            
            <a class="btn btn-danger" id="{{q.id}}" style="background-color: transparent;" href="#!" role="button">
                <i class="fas fa-check" style="color: yellowgreen;"></i>Hiển thị kết quả
            </a>  
            
            <!-- <input type="button" id="buttonReset{{q.id}}" value="Làm lại" /> -->
            <a class="btn btn-danger" id="buttonReset{{q.id}}" style="background-color: transparent;" href="#!" role="button">
                <i class="fas fa-pen" style="color: tomato;"></i>Làm lại
            </a>  

            <script type="text/javascript">
                document.getElementById("{{q.id}}").onclick = function() {
                    var checkbox = document.getElementsByName("optradio{{q.id}}");
                    for (var i = 0; i < checkbox.length; i++) {
                        if (checkbox[i].checked) {
                            var a = checkbox[i].parentElement;
                            a.style.backgroundColor = "black";
                            if (checkbox[i].value === "{{q.correctAnswer}}") {
                                a.style.backgroundColor = "green";
                            } else {
                                a.style.backgroundColor = "red";
                            }
                        }
                    }

                };
                document.getElementById("buttonReset{{q.id}}").onclick = function() {
                    var checkbox = document.getElementsByName("optradio{{q.id}}");
                    for (var i = 0; i < checkbox.length; i++) {
                        if (checkbox[i].checked) {
                            var a = checkbox[i].parentElement;
                            a.style.backgroundColor = "black";


                        }
                    }

                };
            </script>


        </div>
        {% endfor %} {% endif %}

        </div>
    </div>
    

    <footer>
        <div class="container">
            <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

            <div class="row text-center">
                <div class="col-md-4 box">
                    <span class="copyright quick-links">GTEAMS &copy; Our Website <script>document.write(new Date().getFullYear())</script>
              </span>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline quick-links">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>