{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTEAMS - Class Web App</title>
    <!-- link cho navbar -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" id="fontawesome-css">
    <!-- link cho thanh truoc -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-5.15.4-web/css/all.css'%}"> -->

    <!-- <link rel="stylesheet" href="{% static 'css/HomePageStyl.css'%}"> -->
    <link rel="stylesheet" href="{% static 'css/HomePag.css'%}">
    <!-- tác giả nha -->
    <meta name='author' content="G-Team" />
    <!-- này search từ khóa tại gg thì dựa vào này -->
    <meta name='description' content="Tham gia các khóa học online" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #121212;">
            <a class="navbar-brand" href="#"><img src="{% static 'imgs/logo.png'%}" alt="Logo page" width="100" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="background-color: #121212;">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'intro' %}">Giới thiệu<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'courses' %}">Khóa học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'practice' %}">Luyện tập</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs' %}">Bài viết</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Liên hệ</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" id="navbar-nav-right" style="background-color: #121212; float: right !important; ">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Xin chào {{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'log' %}">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reg' %}">Đăng ký</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>
    </header>

    <div class="container my-3">
        <h2>Bài viết</h2>
        <p>Kho tài liệu và bài viết được chia sẻ, đánh giá bởi cộng đồng</p>
        <div id="content-nav-container" style=" margin-bottom: 30px;">
            <i class="fas fa-home"></i>
            <i class="fas fa-angle-right"></i> Bài viết
        </div>
        <form method="get" action="{% url 'searchblog' %}" class="form-inline my-2 my-lg-0 mx-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query" style="width:230px;">
            <button class="btn btn-outline-danger my-2 my-sm-0 " type="submit">Search</button>
        </form>
        {% if allPosts|length < 1 %} 
        <aside class="col-md-5 blog-sidebar" style="margin:10px;">
            Truy vấn tìm kiếm của bạn: <b>{{query}}</b> không khớp với bất kỳ tài liệu nào. <br> Gợi ý:
            <ul>
                <li>Kiểm tra chính tả.</li>
                <li>Thử những từ khóa thông thường hơn.</li>
                <li>Hãy thử ít từ khóa hơn.</li>
                <li>Hãy thử các từ khóa khác nhau.</li>
                </li>
            </ul>
        </aside>
        {% endif %} 
       {% for post in allPosts %}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <div class="info">
                    <span class="info-detail"></span>

                    <img class="user" src="{% static 'imgs/user.png'%}">
                    <strong class="d-inline-block mb-2 text-warning">Đăng bởi {{post.author}} (<span class="d-inline-block mb-2 text-warning"> {{post.views}} lượt xem</span>)</p></strong>
                    <p class="blog-post-meta text-danger">{{post.timeStamp}}</p>

                </div>

                <h3 class="mb-0">{{post.title}}</h3>
                <div class="mb-1 text-muted">{{post.datetime}}</div>
                <p class="card-text mb-auto">{{post.content| safe|truncatechars:200}}</p>
                <div class="my-2">
                    <a href="{% url 'blogspost' post.slug %}" role="button" class="btn btn-danger">Xem thêm</a>
                </div>

            </div>
        </div>

        {% endfor %} 
    </div>

    <footer>
        <div class="container">

            <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

            <div class="row text-center">
                <div class="col-md-4 box">
                    <span class="copyright quick-links">GTEAMS &copy; Our Website <script>document.write(new Date().getFullYear())</script>
              </span>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 box">
                    <ul class="list-inline quick-links">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>