@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    color: white;
}
body {
    height: 1000px;
    box-sizing: border-box;
    display: block;
}
#header{
    background: #121212;
    height: 230px;
    display: block;
    padding-top: 20px;
    padding-left:100px ;
    padding-right: 100px ;
}
#header #btn {
    background-color: rgba(0, 0, 0, 0.267);
    width: 50px;
}
#header1{
    display: flex;
    justify-content: space-between;
    height: 65px;
}
#content-header1-left{
    display: block;
}
#logo{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
}
#content-header1-right{
    width: 170px;
    justify-content: space-around;
    display: flex;
    height: 30px;
}
#cnt-hd1-r-tk{
    width: 100px;
    justify-content: space-between;
    background: none;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    width: 100px;
}
.header__navbar-icon-Link{
    font-size: 2rem;
    color: white;
}
#container-header2{
    display: flex;
    position: relative;
    top: 0.67rem;
    height: 50px;
    justify-content: space-between;
}
#container-header2 #content{
    display: block;
}
#writeButton{
    width: 120px;
    background: #292929;
    box-shadow: #333536 7px 7px 7px;
    border: none;
    border-radius: 7px ;
    color: white;
    font-size: 15px;
    transition: ease-in-out 0.5s;
}
#writeButton:hover{
    background: #313131;
    transform: scale(1.03);
}
#writeButton:active{
    transform: scale(1);
}
/* Ná»™i dung */
#container{
    background: black;
    height: 370rem;
    padding-top: 20px;
    padding-left: 100px ;
    padding-right: 100px ;
    display: block;
}
#container #content-nav-container{

    color: rgb(250, 14, 112);
    font-size: 23px;
    height: 2.7rem;
    margin: 0px 0px 30px;
    padding: 5px;
}

#container #filter{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 18px;
}
#filter-right{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: 30%;
}
.dropdown {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    border-image: none;
    display: inline-block;
    height: 28px;
    overflow: hidden;
    position: relative;
    width: 110px;
}
.dropdown:before, .dropdown:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}
.dropdown:before {
    border-top: medium none;
}
.dropdown:after {
    border-bottom: medium none;
    margin-top: 7px;
}
.dropdown-list {
    color: rgb(250, 14, 112);
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none;
    position: relative;

}
.dropdown-list:focus {
    color: #394349;
    outline-offset: -2px;
    width: 100%;
    z-index: 3;
}

/* content block  */
#posts{
    display: flex ;
    justify-content: space-between;
}
#posts1{
    width: 75%;
}
.contentBlock{
    margin-top: 2rem;
    top: 500px;
    background-color:#121212;
    height: 13.5rem;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
}
.contentBlock:hover{
    background: #161616;
    transform: scale(1.01);
}
span{
    color: rgb(240, 167, 197);
    font-size: 13px;
}
.media{
    padding: 10px;
    margin: auto;
    height: 11.2rem;
    background-color: #292929;
    display: flex;
}
.media:hover{
    background: #313131;
    transform: scale(1.01);
}
.media-body {
    display: block;
    line-height: 1.5rem;
}
.info {
    display: flex;
    overflow: hidden;
    position: relative;
}
.user {
    align-items: center;
    width: 23px;
    height: 23px;
}
.info-detail {
    width: 30px;
    color: pink;
}
#paginaton{
    margin: 2rem;
    width: 25%;
    position: relative;
    justify-content: right;
    border-radius: 10px;
    background-color:#121212;
}
#footer{
    background-color: #121212;
    height: 28rem;
}