@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    color: white;
}

body {
    height: 1000px;
    box-sizing: border-box;
    display: block;
}

#header {
    background: #121212;
    height: 230px;
    display: block;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#header #btn {
    background-color: rgba(0, 0, 0, 0.267);
    width: 50px;
}

#header1 {
    display: flex;
    justify-content: space-between;
    height: 65px;
}

#content-header1-left {
    display: block;
}

#logo {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
}

#content-header1-right {
    width: 170px;
    justify-content: space-around;
    display: flex;
    height: 30px;
}

#cnt-hd1-r-tk {
    width: 100px;
    justify-content: space-between;
    background: none;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    width: 100px;
}

.header__navbar-icon-Link {
    font-size: 2rem;
    color: white;
}

#container-header2 {
    display: flex;
    position: relative;
    top: 0.67rem;
    height: 50px;
    justify-content: space-between;
}

#container-header2 #content {
    display: block;
}



 #container-header2 {
    text-align: center;
    display: block;
}

#main-container {
    background: black;
    height: 42rem;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
}

#content {
    padding-top: 30px;
    line-height: 1.5;
}

.block {
    background-color: #292929;
    float: left;
    width: 45%;
    height: 400px;
    padding: 30px;
    margin: 1.5%;
    border: 1px dashed;
}

.block_title {
    color: rgb(250, 14, 112);
    text-align: center;
}

#contactForm label {
    display: block;
}

#contactForm input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.block_content {
    display: block;
}

ul {
    list-style: none;
}

a {
    color: white;
}

#footer {
    display: block;
    background-color: #333333;
    top: 500px;
    width: 100%;
    height: 130px;
}

#footer #contact {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    padding: 10px;
}

.footer2 {
    padding: 15px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #121212;
}

.simplenav {
    color: white;
}

.text-right {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: white;
} 