 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 13px;
    background-color: #121212 ;
}
 

body{
    background-color: #121212 !important;
}
a{
    text-decoration: none;
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(250, 14, 112);
    background-color: #121212;
}

.main-hover-div .hover_display{background:#121212;position:absolute;top:0;left:0;bottom:0;right:0;opacity:0; width: 300px;}
.main-hover-div:hover .hover_display{opacity:1}
.hover_display {
    padding: 10px;
}
.filter-starts .main-hover-div a {
    color: black;
}
.hover_display .batchtxt {
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 10px;
}

.hover_display .nextbatch {
    display: inline-flex;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hover_display .nextbatch .value {
    font-weight: 400;
    margin-right: 3px;
}

.hover_display .learnlist {
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}

.hover_display ul {
    display: inline-block;
    width: 100%;
    padding: 5px 0 0 0px;
    list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 10px;
}

.hover_display ul li {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hover_display .seemorebtn {
    border: solid 1px #ffffff;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 9px 40px;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    background: transparent;
    text-transform: uppercase;
    color: #ae1f1f;
    font-size: 12px;
    font-weight: 600;
} 
