@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    color: white;
}

body {
    height: 1500px;
    box-sizing: border-box;
    display: block;
}

#header {
    background: #121212;
    height: 230px;
    display: block;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#header #btn {
    background-color: rgba(0, 0, 0, 0.267);
    width: 50px;
}

#header1 {
    display: flex;
    justify-content: space-between;
    height: 65px;
}

#content-header1-left {
    display: block;
}

#logo {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
}

#content-header1-right {
    width: 170px;
    justify-content: space-around;
    display: flex;
    height: 30px;
}

#cnt-hd1-r-tk {
    width: 100px;
    justify-content: space-between;
    background: none;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    width: 100px;
}

.header__navbar-icon-Link {
    font-size: 2rem;
    color: white;
}

#container-header2 {
    text-align: center;
    display: block;
}

#container {
    height: 110rem;
    background-color: black;
    position: relative;
}

#footer {
    display: block;
    background-color: #333333;
    top: 1600px;
    width: 100%;
    height: 130px;
    position: absolute;
}

#footer #contact {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    padding: 10px;
}

.footer2 {
    padding: 15px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #121212;
}

.simplenav {
    color: white;
}

.text-right {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: white;
}

#header1 {
    display: flex;
    justify-content: space-between;
    height: 65px;
}

.vision {
    position: absolute;
    top: 80px;
    left: 130px;
    width: 1080px;
}

h2 {
    color: rgb(250, 14, 112);
    text-align: center;
}

h3 {
    text-align: center;
}


/* founder layout */

.h2-founder {
    position: relative;
    top: 360px;
}

.founder-layout {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 390px;
    left: 120px;
    width: 1080px;
}

.founder-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
    text-align: center;
    color: black;
    border-radius: 10px;
}

.founder-item:nth-child(1) {
    background-color: #121212;
    color: rgb(201, 228, 224);
}

.founder-item:nth-child(2) {
    background-color: #121212;
    color: rgb(228, 191, 180);
}

.founder-item:nth-child(3) {
    background-color: #121212;
    color: rgb(224, 190, 224);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-info .a1 {
    color: rgb(201, 228, 224);
}

.contact-info .a2 {
    color: rgb(228, 191, 180);
}

.contact-info .a3 {
    color: rgb(224, 190, 224);
}


/* service layout */

.h2-service {
    position: relative;
    top: 770px;
}

.service {
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 830px;
    left: 300px;
    width: 1080px;
}

.service__first {
    padding: 4px 16px;
    background-image: url(../imgs/hacker.png);
    background-size: 415px 327px;
    flex: 1;
}

.service__second {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.service__second-one {
    flex: 1;
    padding: 4px 16px;
    background-color: #131313;
}

.service__second-two {
    flex: 1;
    padding: 4px 16px;
    background-color: #131313;
}

.service__second-three {
    flex: 1;
    padding: 4px 16px;
    background-color: #131313;
}


/* support-layout */

.support {
    width: 100%;
    height: 200px;
    background-color: #121212;
    position: absolute;
    top: 75%;
    margin-top: 50px;
    text-align: center;
}

.support-h2 {
    background-color: black;
}

.support button {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(128, 132, 179);
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}