@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    color: white;
}

body {
    height: 1000px;
    box-sizing: border-box;
    display: block;
}

#header {
    background: #121212;
    height: 230px;
    display: block;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#header #btn {
    background-color: rgba(0, 0, 0, 0.267);
    width: 50px;
}

#header1 {
    display: flex;
    justify-content: space-between;
    height: 65px;
}

#content-header1-left {
    display: block;
}

#logo {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
}

#content-header1-right {
    width: 170px;
    justify-content: space-around;
    display: flex;
    height: 30px;
}

#cnt-hd1-r-tk {
    width: 100px;
    justify-content: space-between;
    background: none;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    width: 100px;
}

.header__navbar-icon-Link {
    font-size: 2rem;
    color: white;
}

#container-header2 {
    display: block;
    position: relative;
    top: 0.67rem;
    height: 50px;
    text-align: center;
    justify-content: space-between;
}


/*``````````````````````````````````````````````*/

#main-container {
    background: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    position: relative;
}

.block_query {
    display: flex;
    background-color: #313131;
    margin: 20px;
    height: 120px;
}


/*``````````````````````````````````````````````*/

#footer {
    display: block;
    background-color: #333333;
    top: 10px;
    width: 100%;
    height: 130px;
}

#footer #contact {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    padding: 10px;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #121212;
}

.simplenav {
    color: white;
}

.text-right {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: white;
}

.radio label {
    padding: 5px;
    padding-left: 10px;
}

#block_answer {
    margin: 20px;
}

#btnSubmit {
    text-align: center;
}

#btnSubmit input {
    height: 40px;
    width: 160px;
}