@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #000000;
    box-sizing: border-box;
    font-size: 13px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(250, 14, 112) !important;
    background-color: #121212;
}
body{
    background-color: #121212 !important;
}
header{
    margin: 0;
    padding: 0;
    height: 80px;
}
a{
    text-decoration: none !important;
    color: white;
}
